colorama==0.4.6
colorlog==6.9.0
fastparquet==2024.11.0
grad-cam==1.5.5
matplotlib==3.10.1
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.1.0
psutil==7.0.0
pyarrow==19.0.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
toml==0.10.2
torch==2.3.0
torchaudio==2.3.0
torchsummary==1.5.1
torchvision==0.18.0
tqdm==4.67.1
wandb==0.19.9
gputil